/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    /*默认情况下element软件的组件el-card权重比较高，自己的样式*/
    /*想要覆盖它的样式就得来个！important*/
}
.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination {
    margin-top: 15px;
}